<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%# message() %>

<form class="form" action="/account/login">
    <label>Email<input type="email" name="account_email" required></label>
    <label>
        Password
        <input type="password" id="password" name="account_password" required>
        <span id="password-display-toggle">show</span>
    </label>
    <input type="submit" value="Login">
    <p class="text-center">No Account? <a href="/account/register">Sign-up</a></p>
</form>

<script src="/js/script.js"></script>