<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>

<h2>Welcome <%= locals.accountData.account_firstname %></h2>
<a href="/account/edit/<%=locals.accountData.account_id%>">update account information</a>
<% if (locals.accountData.account_type == "Admin" || locals.accountData.account_type == "Employee") { %>
    <h3>Inventory Management</h3> 
    <p> <a href="/inv">Management Inventory</a></p>
<% } %>


<script src="/js/script.js"></script>
