<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<div id="error-messages">
<% if (errors) { %>
  <ul class="error">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
</div>


<form class="form" action="/account/register" method="post">
  <label
    >First Name <input type="text" name="account_firstname" required
  /></label>
  <label
    >Last Name <input type="text" name="account_lastname" required
  /></label>
  <label
    >Email<input
      type="email"
      name="account_email"
      required
      placeholder="Enter a valid email address"
  /></label>
  <label>
    Password
    <span class="input-info"
      >Passwords must be at least 12 characters and contain at least 1 number, 1
      capital letter and 1 special character</span
    >
    <input
      type="password"
      id="password"
      name="account_password"
      required
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
    />
    <span id="password-display-toggle">show</span>
  </label>
  <input type="submit" value="Register" />
  <p class="text-center">
    Already have an account? <a href="/account/login">Login</a>
  </p>
</form>

<script src="/js/script.js"></script>
