<nav class="nav">
    <ul class="nav__list">
        <li class="nav__list-item">Home</li>
        <li class="nav__list-item">Custom</li>
        <li class="nav__list-item">Sedan</li>
        <li class="nav__list-item">SUV</li>
        <li class="nav__list-item">Truck</li>
    </ul>
</nav>