<div class="index-main">
    <h1 class="index-h1">Welcome to CSE Motors</h1>
    <%- messages() %>

    <div class="hero">
        <div class="hero-card">
            <h2 class="hero-card__title">DMC Delorean</h2>
            <ul class="hero-card__list">
                <li class="hero-card__list-item">3 Cup holders</li>
                <li class="hero-card__list-item">Superman doors</li>
                <li class="hero-card__list-item">Fuzzy dice</li>
            </ul>
            <button class="button hero-card__button">Own Today</button>
        </div>
    </div>
    <div class="upgrades">
        <h2 class="upgrades__title">Delorean Upgrades</h2>
        <ul class="upgrades__list">
            <li class="upgrades__list-item">
                <img class="upgrades__item-img" alt="Flux Capacitor" src="/images/upgrades/flux-cap.png">
                <a class="upgrades__item-link" href="">Flux Capacitor</a>
            </li>
            <li class="upgrades__list-item">
                <img class="upgrades__item-img" alt="Flame Decals" src="/images/upgrades/flame.jpg">
                <a class="upgrades__item-link" href="">Flame Decals</a>
            </li>
            <li class="upgrades__list-item">
                <img class="upgrades__item-img" alt="Bumper Stickers" src="/images/upgrades/bumper_sticker.jpg">
                <a class="upgrades__item-link" href="">Bumper Stickers</a>
            </li>
            <li class="upgrades__list-item">
                <img class="upgrades__item-img" alt="Hub Caps" src="/images/upgrades/hub-cap.jpg">
                <a class="upgrades__item-link" href="">Hub Caps</a>
            </li>
        </ul>
    </div>
    <div class="reviews">
        <h2 class="reviews__title">DMC Delorean Reviews</h2>
        <ul class="reviews__list">
            <li class="reviews__list-item">"So fast it's almost like traveling in time."(4/5)</li>
            <li class="reviews__list-item">"Coolest ride on the road."(4/5)</li>
            <li class="reviews__list-item">"I'm feeling McFly."(5/5)</li>
            <li class="reviews__list-item">"The most futuristic ride of our day."(4.5/5)</li>
            <li class="reviews__list-item">"80's livin and I love it!"(5/5)</li>
        </ul>
    </div>
</div>