body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  margin: 0 2.5vw;
}

main>h1 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

#wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

/* FOOTER */
.footer {
  text-align: center;
  margin-top: 2rem;
  background: #2e2e2e;
  padding: .5rem;
  color: #fff;
  font-size: .7rem;
}

.footer a {
  font-size: 1rem;
  color: #ff746c;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem .5rem;
}

.header__sitename {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 600;
}

.header__tool-link {
  text-decoration: none;
  color: black;
  font-size: .8rem;
}

@media (min-width: 768px) {
  body {
    background-image: url(/images/site/checkerboard.jpg);
    background-size: contain;
  }

  #wrapper {
    margin: 2rem 6rem;
    padding: .5rem;
    border-radius: 5px;
    border: 2px solid #04b0d3;
    background: #fff;
  }

  .header {
    padding: 1.5rem 1rem;
  }
}

/* NAVIGATION */
.nav__list {
  list-style: none;
  display: flex;
  padding-left: 0;
  background: #222432;
  color: #fff;
  justify-content: space-evenly;
}

.nav__list-item {
  padding: .5rem 0;
}

.nav__list-item>a {
  text-decoration: none;
  color: inherit;
}

.index-main {
  width: 94%;
  margin: 1rem auto 2rem;
  display: grid;
  grid-template-areas:
    "title"
    "hero"
    "reviews"
    "upgrades";
  row-gap: 2rem;
}

.index-h1 {
  grid-area: title;
  font-size: 1.5rem;
}

.hero {
  grid-area: hero;
  background-image: url('/images/vehicles/delorean-tn.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: start;
  margin-bottom: 2rem;
}

.hero-card {
  background: rgba(255, 255, 255, 0.654);
  color: #04b0d3;
  padding: .3rem;
}

.hero-card__title {
  font-size: .9rem;
  font-weight: 700;
}

.hero-card__list {
  padding-left: 0;
  list-style: none;
  font-size: .7rem;
}

.hero-card__button {
  background: #04b0d3;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  font-size: .8rem;
}

.reviews {
  grid-area: reviews;
}

.reviews__title {
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

.reviews__list {
  padding-left: 1rem;
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.upgrades {
  grid-area: upgrades;
}

.upgrades__title {
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

.upgrades__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding-left: 0;
  text-align: center;

  gap: 10px;
}

.upgrades__list-item {
  background: #04b0d3;
  padding: .2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.upgrades__item-link {
  font-size: .9rem;
  color: black;
}

.error-img {
  opacity: 0.5;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .index-main {
    width: 90%;
    grid-template-areas:
      "title title"
      "hero hero"
      "upgrades reviews";
    row-gap: 2rem;
    column-gap: 2rem;
  }

  .hero {
    height: 40vh;
  }

  .hero-card__title {
    font-size: 1.1rem;
  }

  .hero-card__list {
    font-size: .9rem;
  }

  .hero-card__button {
    font-size: 1rem;
  }

  .upgrades__title,
  .reviews__title {
    margin-bottom: 2rem;
  }
}

#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  list-style: none;
  padding-left: 0;
}

#inv-display>li {
  max-width: 350px;
}

#inv-display>li img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

#inv-display h2 {
  font-size: 1rem;
}

#inv-display a {
  text-decoration: none;
  color: inherit;
}

#inv-display .namePrice {
  color: #373737;
}

.inventory-item-details {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.inventory-item-details>section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.inventory-item-details>section>div>* {
  font-size: 1rem;
}

.inventory-item-details>section>div:nth-child(even) {
  background: rgb(233, 233, 233);
  padding: .4rem;
  border-radius: 5px;
}

.inventory-item-details img {
  border-radius: 5px;
}

@media (min-width: 768px) {
  .inventory-item-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

.form {
  background: #11665e;
  border-radius: 5px;
  padding: .8rem 1.5rem;
  margin: 0 auto;
  max-width: 350px;
  box-shadow: 1px 1px 18px 4px #5d5d5d38;

  label {
    color: #fff;
    display: block;
    margin-bottom: .7rem;
    font-weight: 700;
  }

  input[type=text],
  input[type=password],
  input[type=email] {
    display: block;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 4px;
    font-weight: normal;
    padding: .3rem;
  }

  input[type=submit] {
    display: block;
    margin: 0 auto;
    margin-bottom: .7rem;
  }

  p,
  a {
    color: #fff;
  }
}

#password-display-toggle {
  font-weight: normal;
  font-size: .8rem;
  background: #fff;
  border-radius: 4px;
  padding: 3px;
  color: black;
}

#messages {
  margin-bottom: 1rem;

  ul {
    list-style: none;
  }

  ul>li {
    border-radius: 4px;
    padding: 2px 5px;
    display: inline-block;
    margin-bottom: 5px;
  }

  ul.notice>li {
    background: #cff4fc;
    border: 1px solid #9eeaf9;
    color: #055160;
  }
}