<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>

<ul>
  <li>
    <a href="/inv/add-classification">add new classification</a>
  </li>
  <li>
    <a href="/inv/add-inventory">add new inventory</a>
  </li>
</ul>

<h2>Manage Inventory</h2>
<p>
  Select a classification below to view items belonging to the classification
</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>
