<% if (title) { %>
    <h1 class="text-center"><%= title %></h1>
<% } else {
      res.redirect('/')
} %>

<p class="text-center">
    <%- message %>
</p>

<img class="error-img" src="/images/site/crash.webp" alt="">